name: Azure ML CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-train:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
        pip install azureml-core

    - name: Test Azure Workspace
      run: |
        python test_workspace.py
